//colors

$color-green: #449440;

// Media queries

$bp-medium: 75em; //breakpoint at 1200px
$bp-small: 50em; //breakpoint at 800px
$bp-smaller: 43.75em; //breakpoint at 700px
$bp-tiny: 37.5em; //breakpoint at 600px
